@font-face {
    font-family: "Lato Regular";
    src: url("../assets/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato Black";
    src: url("../assets/fonts/Lato/Lato-Black.ttf");
}

@font-face {
    font-family: "Lato Bold";
    src: url("../assets/fonts/Lato/Lato-Bold.ttf");
}

@font-face {
    font-family: "BebasNeue Bold";
    src: url("../assets/fonts/BebasNeue/Commercial/TTF/BebasNeue-Bold.ttf");
}

@font-face {
    font-family: "Lato Light";
    src: url("../assets/fonts/Lato/Lato-Light.ttf");
}

html, body {
    height: 100%;
    margin: 0;
    border: 0;
    font-family: "Lato Light", sans-serif;
}

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-image: url("../assets/img/bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

header {
    display: flex;
    width: 100%;
    height: 30%;
}

.left {
    width: 15%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.timer {
    background-image: url("../assets/img/paper.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-right: 0.5em purple dashed;
    border-bottom: 0.5em purple dashed;
    border-bottom-right-radius: 0.5em;
}

.timer img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    left: 10%;
}

#time {
    color: #414141;
    font-family: "Lato Black";
    font-size: xx-large;
    position: relative;
    top: 7%;
    right: 20%;
}

.dark-part {
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, .55);
}

.center {
    background-color: rgba(0, 0, 0, .55);
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#consigne {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    text-decoration: underline;
}

.right {
    width: 15%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.infos-box {
    font-family: "Lato Bold";
    height: 50%;
    background-image: url("../assets/img/paper.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 0.5em rgb(255, 126, 41) dashed;
    border-bottom: 0.5em rgb(255, 126, 41) dashed;
    border-bottom-left-radius: 0.5em;
    display: flex;
    flex-direction: column;
}

.player-infos {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8% 0 8%;
    border-bottom: 0.15em rgb(62, 64, 62) solid;
}

#avatar-info {
    max-width: 80%;
    max-height: 80%;
    margin-right: 5%;
}

.player-pts {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-pts p {
    font-size: xx-large;
    color: firebrick;
}

.word-zone {
    height: 40%;
    background-color: rgba(0, 0, 0, .55);
    display: flex;
    justify-content: center;
    align-items: center;
}

#mot {
    color: rgb(194, 77, 77);
    background-color: rgb(46, 46, 46);
    font-family: "Lato Black";
    font-size: 5em;
}

.button-zone {
    background-color: rgba(0, 0, 0, .55);
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#found, #pass {
    font-family: "BebasNeue Bold";
    font-size: x-large;
    width: 13%;
    height: 28%;
    color: white;
    border-color: white;
    border-radius: 2em;
    cursor: pointer;
}

#found {
    background: rgb(114, 228, 83);
}

#pass {
    background: rgb(77, 75, 75);
}
